@import "tailwindcss";
@source "./";

@theme {
  --background: #0c0c0c;
  --foreground: #ededed;
  --card-background: #2b2b2b;
  --card-border: #3d3d3d;
  --light-background-text: #2b2b2b;
  --highlight-background: #2a2a2a;
  --horizontal-divider: #d1d1d1;
  --muted: #d1d1d1;
  --subtitle: #9f9f9f;
  --border: #2f2f2f;
  --light-border: #4f4f4f;
  --primary: #f2e6cf;
  --primary-muted: #ccc6bc;

  --breakpoint-xs: 26rem;

  --font-headline: "DM Serif Display", serif;
  --font-slab: "Roboto Slab", serif;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Geist Mono", mono;
  --font-instrument-serif: "Instrument Serif", serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}
